<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>TouchScreenExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>AppleUserHIDDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>IOUserClass</key>
			<string>TouchScreenExtension</string>
			<key>IOUserServerName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOUserServerOneProcess</key>
			<true/>
			<key>PrimaryUsage</key>
			<integer>4</integer>
			<key>PrimaryUsagePage</key>
			<integer>13</integer>
			<key>ProductID</key>
			<integer>21781</integer>
			<key>Transport</key>
			<string>USB</string>
			<key>VendorID</key>
			<integer>1267</integer>
		</dict>
	</dict>
</dict>
</plist>
